flow.json
[{"id":"1dfb2930.3a16bf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"be069430.d32bc","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"e033f1b5.593a28","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"mosquitto.mosquitto.svc.cluster.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"node-red/state","birthQos":"0","birthRetain":"false","birthPayload":"\"connected'","closeTopic":"node-red/state","closeQos":"0","closeRetain":"false","closePayload":"\"disconnected\"","willTopic":"node-red/state","willQos":"0","willRetain":"false","willPayload":"\"disconnected\""},{"id":"a7b72783.be3aa8","type":"server-events","z":"1dfb2930.3a16bf","name":"Test","server":"be069430.d32bc","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":210,"y":260,"wires":[["1ee618a9.8247cf"]]},{"id":"1ee618a9.8247cf","type":"debug","z":"1dfb2930.3a16bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":260,"wires":[]},{"id":"91c74463.1c2e08","type":"mqtt in","z":"1dfb2930.3a16bf","name":"","topic":"zigbee2mqtt/#","qos":"2","datatype":"auto","broker":"e033f1b5.593a28","x":230,"y":420,"wires":[["b4bc735e.1f60d8"]]},{"id":"b4bc735e.1f60d8","type":"debug","z":"1dfb2930.3a16bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":420,"wires":[]}]