flow.json
[
    {
        "id": "8e58ee44.a4437",
        "type": "tab",
        "label": "Lights 🔆",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b8e2ec17.d1eb2",
        "type": "tab",
        "label": "Timers ⏱️",
        "disabled": false,
        "info": ""
    },
    {
        "id": "434c5286.7d68a4",
        "type": "tab",
        "label": "Server Room Door 🚪",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3bad2ed8.06947a",
        "type": "tab",
        "label": "Bathroom fans 💨",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ece5e39f.8a0c58",
        "type": "tab",
        "label": "Magic Cube 🪄",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9b41e9d4.08d7b8",
        "type": "subflow",
        "name": "Front door toggled?",
        "info": "",
        "category": "home_assistant",
        "in": [],
        "out": [
            {
                "x": 760,
                "y": 340,
                "wires": [
                    {
                        "id": "288912f4.f00d06",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "e88800ac.be03b8",
        "type": "subflow",
        "name": "Anybody home?",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "e88713fd.b028"
                    },
                    {
                        "id": "3481bf57.73cc08"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 140,
                "wires": [
                    {
                        "id": "e88713fd.b028",
                        "port": 0
                    },
                    {
                        "id": "3481bf57.73cc08",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 440,
            "y": 80,
            "wires": [
                {
                    "id": "e88713fd.b028",
                    "port": 0
                },
                {
                    "id": "3481bf57.73cc08",
                    "port": 0
                },
                {
                    "id": "e88713fd.b028",
                    "port": 1
                },
                {
                    "id": "3481bf57.73cc08",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "a0c675672e48bb86",
        "type": "junction",
        "z": "8e58ee44.a4437",
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "830064fc.dc1e"
            ]
        ]
    },
    {
        "id": "5e72e4ec7a38dbd8",
        "type": "junction",
        "z": "8e58ee44.a4437",
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "830064fc.dc1e"
            ]
        ]
    },
    {
        "id": "f6c867fb11af81ed",
        "type": "junction",
        "z": "434c5286.7d68a4",
        "x": 1400,
        "y": 360,
        "wires": [
            [
                "59b81e0c.6c378"
            ]
        ]
    },
    {
        "id": "c0b6785cdc85f7cd",
        "type": "junction",
        "z": "434c5286.7d68a4",
        "x": 1400,
        "y": 320,
        "wires": [
            [
                "59b81e0c.6c378"
            ]
        ]
    },
    {
        "id": "9cbaa593.a5001",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto.mosquitto.svc.cluster.local",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "node-red",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{\"connected\" : true}",
        "closeTopic": "node-red",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "{\"connected\" : false}",
        "willTopic": "node-red",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "{\"connected\" : false}"
    },
    {
        "id": "6dd794ce.66414c",
        "type": "server",
        "name": "Home Assistant",
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "8c84c35d.2d8c08",
        "type": "server-state-changed",
        "z": "9b41e9d4.08d7b8",
        "name": "Entrance door open",
        "server": "6dd794ce.66414c",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.entrance_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 340,
        "wires": [
            [],
            [
                "c3ff21f5.f8eb58"
            ]
        ]
    },
    {
        "id": "c3ff21f5.f8eb58",
        "type": "delay",
        "z": "9b41e9d4.08d7b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "288912f4.f00d06"
            ]
        ]
    },
    {
        "id": "288912f4.f00d06",
        "type": "ha-wait-until",
        "z": "9b41e9d4.08d7b8",
        "name": "Wait until closed",
        "server": "6dd794ce.66414c",
        "version": 2,
        "outputs": 2,
        "entityId": "binary_sensor.entrance_contact",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "60",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "x": 560,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e88713fd.b028",
        "type": "api-current-state",
        "z": "e88800ac.be03b8",
        "name": "Toria is home?",
        "server": "6dd794ce.66414c",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.toria",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 200,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3481bf57.73cc08",
        "type": "api-current-state",
        "z": "e88800ac.be03b8",
        "name": "Luke is home?",
        "server": "6dd794ce.66414c",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.luke",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 200,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "830064fc.dc1e",
        "type": "mqtt out",
        "z": "8e58ee44.a4437",
        "name": "Perform Action",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "9cbaa593.a5001",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae30d519.ddfe68",
        "type": "switch",
        "z": "8e58ee44.a4437",
        "name": "Open",
        "property": "payload.contact",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "9f2b58a6.83c3f8"
            ]
        ]
    },
    {
        "id": "abb0f85d.6d1948",
        "type": "switch",
        "z": "8e58ee44.a4437",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "lounge",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "kitchen",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "bathroom",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "hallway",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "entrance",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "8627c1a.f6d7e4"
            ],
            [
                "6963ffa.3a28d8"
            ],
            [
                "db7977a6.91c808"
            ],
            [
                "5d5335ea.e34334"
            ],
            [
                "5d5335ea.e34334"
            ]
        ]
    },
    {
        "id": "db7977a6.91c808",
        "type": "change",
        "z": "8e58ee44.a4437",
        "name": "Set Entrance",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/entrance/set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "5e72e4ec7a38dbd8"
            ]
        ]
    },
    {
        "id": "5d5335ea.e34334",
        "type": "function",
        "z": "8e58ee44.a4437",
        "name": "Set hallway and entrance",
        "func": "return [\n    { ...msg, topic: 'zigbee2mqtt/hallway/set' },\n    { ...msg, topic: 'zigbee2mqtt/entrance/set' }\n]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 340,
        "wires": [
            [
                "830064fc.dc1e"
            ],
            [
                "830064fc.dc1e"
            ]
        ]
    },
    {
        "id": "6963ffa.3a28d8",
        "type": "switch",
        "z": "8e58ee44.a4437",
        "name": "Kitchen Cabinet Lights",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 220,
        "wires": [
            [
                "df9ac5a2.42a368"
            ],
            [
                "85e123a3.d088d"
            ]
        ]
    },
    {
        "id": "df9ac5a2.42a368",
        "type": "api-call-service",
        "z": "8e58ee44.a4437",
        "name": "Turn kitchen cabinet lights on",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.kitchen_cabinet_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 1270,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "85e123a3.d088d",
        "type": "api-call-service",
        "z": "8e58ee44.a4437",
        "name": "Turn kitchen cabinet lights off",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.kitchen_cabinet_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 1270,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8627c1a.f6d7e4",
        "type": "function",
        "z": "8e58ee44.a4437",
        "name": "Set kitchen and lounge",
        "func": "return [\n    { ...msg, topic: 'zigbee2mqtt/kitchen/set' },\n    { ...msg, topic: 'zigbee2mqtt/lounge/set' }\n]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [
            [
                "830064fc.dc1e"
            ],
            [
                "830064fc.dc1e"
            ]
        ]
    },
    {
        "id": "8e87bc61.9befe",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Hallway Control",
        "topic": "zigbee2mqtt/hallway_control",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "6ea22a74.652c24"
            ]
        ]
    },
    {
        "id": "82c431b1.341c2",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Entrance Control",
        "topic": "zigbee2mqtt/entrance_control",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "6ea22a74.652c24"
            ]
        ]
    },
    {
        "id": "b43d2843.bc1c08",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Bathroom Control",
        "topic": "zigbee2mqtt/bathroom_control",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6ea22a74.652c24"
            ]
        ]
    },
    {
        "id": "4adacca8.85efd4",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Kitchen Control",
        "topic": "zigbee2mqtt/kitchen_control",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "6ea22a74.652c24"
            ]
        ]
    },
    {
        "id": "99918de.f8c947",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Lounge Control",
        "topic": "zigbee2mqtt/lounge_control",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "6ea22a74.652c24"
            ]
        ]
    },
    {
        "id": "d491bd37.d6bab",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "En-Suite Contact",
        "topic": "zigbee2mqtt/ensuite_contact",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 500,
        "wires": [
            [
                "ae30d519.ddfe68"
            ]
        ]
    },
    {
        "id": "94348361.faed",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Bathroom Contact",
        "topic": "zigbee2mqtt/bathroom_contact",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "ae30d519.ddfe68"
            ]
        ]
    },
    {
        "id": "aa4d5e88.09b86",
        "type": "mqtt in",
        "z": "8e58ee44.a4437",
        "name": "Entrance Contact",
        "topic": "zigbee2mqtt/entrance_contact",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "ae30d519.ddfe68"
            ]
        ]
    },
    {
        "id": "9f2b58a6.83c3f8",
        "type": "function",
        "z": "8e58ee44.a4437",
        "name": "Turn On",
        "func": "const topicMap = {\n    'zigbee2mqtt/ensuite_contact': 'zigbee2mqtt/ensuite_lights/set',\n    'zigbee2mqtt/bathroom_contact': 'zigbee2mqtt/bathroom_lights/set',\n    'zigbee2mqtt/entrance_contact': 'zigbee2mqtt/entrance/set'\n}\n\nreturn {\n    topic: topicMap[msg.topic],\n    payload: {\n        \"state\": \"ON\",\n        \"transition\": \"0.2\",\n        \"brightness\": 255\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 560,
        "wires": [
            [
                "a0c675672e48bb86"
            ]
        ]
    },
    {
        "id": "6ea22a74.652c24",
        "type": "function",
        "z": "8e58ee44.a4437",
        "name": "Long Press",
        "func": "switch (msg.payload.action) {\n    case \"on-hold\":\n    case \"off-hold\": {\n        return {\n            ...msg,\n            payload: {\n                \"state\": msg.payload.action === \"on-hold\"? \"ON\" : \"OFF\",\n                \"transition\": \"0.2\"\n            }\n        }\n    }\n    default: return []\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "abb0f85d.6d1948"
            ]
        ]
    },
    {
        "id": "e9a98646cee7b0a1",
        "type": "comment",
        "z": "8e58ee44.a4437",
        "name": "All of the light controls are bound to their individual light / light group.\\n These automations are additive, allowing long-press functions, turning lights on when doors open, etc.",
        "info": "All of the light controls are bound to their individual light / light group.\\n\nThese automations are additive, allowing long-press functions, turning lights on when doors open, etc.",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "194846e5.9d6a81",
        "type": "inject",
        "z": "b8e2ec17.d1eb2",
        "name": "At 07:00",
        "repeat": "",
        "crontab": "00 07 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bb05cb5f.4f5318",
        "type": "change",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn on bedroom light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/bedroom/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\",\"transition\":1200,\"brightness\":255}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "7ef6cc91.62130c"
            ]
        ]
    },
    {
        "id": "65b23134.958a48",
        "type": "api-call-service",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn off all lights",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.bathroom",
            "light.bedroom",
            "light.ensuite",
            "light.office",
            "light.kitchen",
            "light.lounge"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9356eb6e.ee585",
        "type": "comment",
        "z": "b8e2ec17.d1eb2",
        "name": "Wake me up!",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "8fa45bb3.c4b2b8",
        "type": "comment",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn off the lights when I leave.",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "b3c704da.5c4038",
        "type": "api-current-state",
        "z": "b8e2ec17.d1eb2",
        "name": "Are there guests?",
        "server": "6dd794ce.66414c",
        "version": 3,
        "outputs": 2,
        "halt_if": "No",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.guest_presence",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 570,
        "y": 300,
        "wires": [
            [],
            [
                "65b23134.958a48"
            ]
        ]
    },
    {
        "id": "a8ac9005.12ae8",
        "type": "comment",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn lights on when someone enters.",
        "info": "",
        "x": 200,
        "y": 400,
        "wires": []
    },
    {
        "id": "c03f6213.95c2b",
        "type": "change",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn on entrance light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/entrance/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"ON\", \"transition\": 1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "7ef6cc91.62130c"
            ]
        ]
    },
    {
        "id": "83d067f1.2acf5",
        "type": "delay",
        "z": "b8e2ec17.d1eb2",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 600,
        "y": 580,
        "wires": [
            [
                "2d72b3be.01963c"
            ]
        ]
    },
    {
        "id": "2d72b3be.01963c",
        "type": "change",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn on kitchen lights",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/kitchen_lights/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"ON\", \"transition\": 1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 580,
        "wires": [
            [
                "7ef6cc91.62130c"
            ]
        ]
    },
    {
        "id": "d14720a7.febd2",
        "type": "delay",
        "z": "b8e2ec17.d1eb2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 600,
        "y": 640,
        "wires": [
            [
                "2654a942.6f4016",
                "6a25b8a3.88d52"
            ]
        ]
    },
    {
        "id": "2654a942.6f4016",
        "type": "change",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn off entrance light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/entrance/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"OFF\", \"transition\": 1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 620,
        "wires": [
            [
                "7ef6cc91.62130c"
            ]
        ]
    },
    {
        "id": "7ef6cc91.62130c",
        "type": "mqtt out",
        "z": "b8e2ec17.d1eb2",
        "name": "Publish action",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "9cbaa593.a5001",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "a07e5bcb.199618",
        "type": "change",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn on hallway light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/hallway/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"ON\", \"transition\": 1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 500,
        "wires": [
            [
                "7ef6cc91.62130c"
            ]
        ]
    },
    {
        "id": "6a25b8a3.88d52",
        "type": "change",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn off hallway light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/hallway/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"OFF\", \"transition\": 1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 660,
        "wires": [
            [
                "7ef6cc91.62130c"
            ]
        ]
    },
    {
        "id": "64ff7951.27f0c",
        "type": "comment",
        "z": "b8e2ec17.d1eb2",
        "name": "Turn lights on when someone enters.",
        "info": "",
        "x": 180,
        "y": 720,
        "wires": []
    },
    {
        "id": "2f78feb4.7191b2",
        "type": "time-range-switch",
        "z": "b8e2ec17.d1eb2",
        "name": "Is it morning?",
        "lat": "51.50723",
        "lon": "-0.09818",
        "startTime": "06:00",
        "endTime": "10:00",
        "startOffset": 0,
        "endOffset": "0",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "b3c704da.5c4038"
            ],
            []
        ]
    },
    {
        "id": "460e28b1.fff558",
        "type": "time-range-switch",
        "z": "b8e2ec17.d1eb2",
        "name": "Is it evening?",
        "lat": "51.50723",
        "lon": "-0.09818",
        "startTime": "16:00",
        "endTime": "03:00",
        "startOffset": 0,
        "endOffset": "0",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "c03f6213.95c2b",
                "83d067f1.2acf5",
                "d14720a7.febd2",
                "a07e5bcb.199618"
            ],
            []
        ]
    },
    {
        "id": "5cf08f91.c3fec",
        "type": "mqtt in",
        "z": "434c5286.7d68a4",
        "name": "Cupboard Door Changed",
        "topic": "zigbee2mqtt/cupboard_contact",
        "qos": "2",
        "datatype": "json",
        "broker": "9cbaa593.a5001",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "36b096c9.0c49aa"
            ]
        ]
    },
    {
        "id": "36b096c9.0c49aa",
        "type": "switch",
        "z": "434c5286.7d68a4",
        "name": "Closed?",
        "property": "payload.contact",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "ad4071c3.104d18"
            ],
            [
                "712733ba.951084"
            ]
        ]
    },
    {
        "id": "59b81e0c.6c378",
        "type": "mqtt out",
        "z": "434c5286.7d68a4",
        "name": "Perform Action",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "9cbaa593.a5001",
        "x": 1560,
        "y": 340,
        "wires": []
    },
    {
        "id": "3f9b1207.2306ee",
        "type": "change",
        "z": "434c5286.7d68a4",
        "name": "Turn on entrance light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"ON\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/entrance/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "controllingEntranceLight",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "f6c867fb11af81ed"
            ]
        ]
    },
    {
        "id": "ef1b1d07.55dfd8",
        "type": "change",
        "z": "434c5286.7d68a4",
        "name": "Turn off entrance light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"OFF\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zigbee2mqtt/entrance/set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "controllingEntranceLight",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "3b39dbba.81c184"
            ]
        ]
    },
    {
        "id": "ad4071c3.104d18",
        "type": "switch",
        "z": "434c5286.7d68a4",
        "name": "We turned the light on?",
        "property": "controllingEntranceLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "ef1b1d07.55dfd8"
            ]
        ]
    },
    {
        "id": "3b39dbba.81c184",
        "type": "delay",
        "z": "434c5286.7d68a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1300,
        "y": 320,
        "wires": [
            [
                "c0b6785cdc85f7cd"
            ]
        ]
    },
    {
        "id": "712733ba.951084",
        "type": "switch",
        "z": "434c5286.7d68a4",
        "name": "Entrance light is off?",
        "property": "zigbee2mqtt/entrance.state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "3f9b1207.2306ee"
            ]
        ]
    },
    {
        "id": "d705891.9dfa8f8",
        "type": "server-state-changed",
        "z": "3bad2ed8.06947a",
        "name": "Bathroom humidity changed",
        "server": "6dd794ce.66414c",
        "version": 4,
        "entityidfilter": "sensor.bathroom_climate_humidity",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 250,
        "y": 500,
        "wires": [
            [
                "5e8c6586.daf1dc"
            ]
        ]
    },
    {
        "id": "5e8c6586.daf1dc",
        "type": "switch",
        "z": "3bad2ed8.06947a",
        "name": "Check humidity level",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "89df99a4.71905"
            ],
            [
                "26fec69f.a06d8a"
            ]
        ]
    },
    {
        "id": "26fec69f.a06d8a",
        "type": "api-call-service",
        "z": "3bad2ed8.06947a",
        "name": "Turn on the fan",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bathroom_fan"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 890,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "89df99a4.71905",
        "type": "api-call-service",
        "z": "3bad2ed8.06947a",
        "name": "Turn off the fan",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bathroom_fan"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3430330d.5053ec",
        "type": "server-state-changed",
        "z": "3bad2ed8.06947a",
        "name": "En-suite humidity changed",
        "server": "6dd794ce.66414c",
        "version": 4,
        "entityidfilter": "sensor.ensuite_climate_humidity",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 250,
        "y": 740,
        "wires": [
            [
                "f8d1eed0.f4e76"
            ]
        ]
    },
    {
        "id": "f8d1eed0.f4e76",
        "type": "switch",
        "z": "3bad2ed8.06947a",
        "name": "Check humidity level",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 740,
        "wires": [
            [
                "28fc0978.160256"
            ],
            [
                "f7ed839c.e669"
            ]
        ]
    },
    {
        "id": "f7ed839c.e669",
        "type": "api-call-service",
        "z": "3bad2ed8.06947a",
        "name": "Turn on the fan",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.en_suite_fan"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 880,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "28fc0978.160256",
        "type": "api-call-service",
        "z": "3bad2ed8.06947a",
        "name": "Turn off the fan",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.en_suite_fan"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 880,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ce026ba5c29fd428",
        "type": "api-current-state",
        "z": "ece5e39f.8a0c58",
        "name": "What's Kreacher doing?",
        "server": "6dd794ce.66414c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "vacuum.valetudo_kreacher",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "f70d2cd04cb68afc"
            ]
        ]
    },
    {
        "id": "013a2de6ad64f812",
        "type": "inject",
        "z": "ece5e39f.8a0c58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "ce026ba5c29fd428"
            ]
        ]
    },
    {
        "id": "f70d2cd04cb68afc",
        "type": "switch",
        "z": "ece5e39f.8a0c58",
        "name": "Inspect Kreacher's state",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "docked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cleaning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "idle",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "d616035ad8e9156d"
            ],
            [
                "d616035ad8e9156d"
            ],
            [
                "d616035ad8e9156d"
            ],
            [
                "72546661256f86f2"
            ]
        ]
    },
    {
        "id": "72546661256f86f2",
        "type": "debug",
        "z": "ece5e39f.8a0c58",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "75fd36f8b080272a",
        "type": "trigger-state",
        "z": "ece5e39f.8a0c58",
        "name": "When the magic cube shakes",
        "server": "6dd794ce.66414c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.magic_cube_action",
        "entityidfiltertype": "exact",
        "debugenabled": true,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "shake"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "ce026ba5c29fd428"
            ],
            [
                "49ecf90977a9b788"
            ]
        ]
    },
    {
        "id": "49ecf90977a9b788",
        "type": "debug",
        "z": "ece5e39f.8a0c58",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "d616035ad8e9156d",
        "type": "api-call-service",
        "z": "ece5e39f.8a0c58",
        "name": "",
        "server": "6dd794ce.66414c",
        "version": 5,
        "debugenabled": true,
        "domain": "vacuum",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1120,
        "y": 300,
        "wires": [
            []
        ]
    }
]